// 지역변수

// 안에 선언한 변수는 다른 곳에서 사용할 수 없다.
// 더 견고한 코딩을 하기 위해 사용하곤 한다.
.info {
    $line-normal: 1.34; // 지역변수
    font-size: 15px;
    line-height: $line-normal;
    text-align: right;
    span {
        line-height: $line-normal;
    }
}

// step 1
// .one {
//     line-height: $line-normal;
// }

// step 2
// .one {
//     $size: 12px;
//     font-size: $size;
// }

// .two {
//     $size: 14px;
//     font-size: $size;
// }

// step3
.one {
    $size: 12px !global; // 권하지 않는 방법
    font-size: $size;
}

.two {
    font-size: $size;
}

// step4
.one {
    $size: 12px; // 권하지 않는 방법
    font-size: $size;
}

.two {
    font-size: $size;
}
