/* Reset */
body {
    margin: 0;
}

h2, h3 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* Layout */

/* Component */
body {
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 386px 180px;
    background-color: #EAE8FE;
}

.section-cola {
    background-color: lightslategrey;
    width: fit-content;
    margin: 247px auto 171px;
    display: flex;
}

.section-machine {
    background-color: lightcoral;
    width: 360px;
    height: 545px;
    margin-right: 28px;
    box-sizing: border-box;
    padding: 31px 27px 28px;
}

.section-showcase {
    background-color: gold;
    display: flex;
    flex-wrap : wrap;
}

.section-showcase div[class*='cola']{
    width: 94px;
    height: 130px;
    margin-bottom: 12px;
    background-color: lightseagreen;
}

.section-showcase div:not(:nth-child(3n+1)) {
    margin-right: 12px;
}

.section-shopping {
    background-color: orangered;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.type-1 {
    width: 200px;
    height: 106px;
    overflow-y: scroll;
}

.cola-price {
    background-color: palegreen;
    width: 200px;
    box-sizing: border-box;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
}

.cola-price p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.cola-price .cumulative-cola-price::after {
    content: ' 원';
}

.cola-price, .btn-deposit, .enter-deposit, .btn-change {
    height: 32px;
}

.section-balance {
    background-color: lightgreen;
    width: 360px;
    height: 50px;
    box-sizing: border-box;
    padding: 9px 27px;
}

.my-balance {
    background-color: dodgerblue;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 20px;
}

.my-balance h3 {
    font-weight: 500;
}

.my-balance p {
    font-weight: 700;
}

.my-balance p::after {
    content: ' 원';
}

.section-purchased {
    background-color: lightsalmon;
    width: 360px;
    height: 474px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 25px 27px 26px 27px;
    text-align: center;
}

.section-purchased h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.section-colas {
    background-color: tomato;
    box-sizing: border-box;
    padding: 12px 18px 12px;
}

.type-2 {
    width: 306px;
    height: 364px;
    overflow-y: scroll;
    margin-top: 13px;
}

.section-colas .cola-item {
    background-color: yellow;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 8px 8px 10px;
}

.section-colas .cola-item:not(:last-of-type) {
    margin-bottom: 6px;
}

.section-colas .cola-name {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}

.cola-count {
    background-color: dodgerblue;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.total-price {
    background-color: lightgoldenrodyellow;
    margin-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
}

.total-price::before {
    content: '총금액 : ';
}

.total-price::after {
    content: ' 원';
}