/* Reset */
body {
    background-image: url(images/background02.png);
    background-size: cover;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Components */
.wrapper {
    background-color: #ddd;
    width: 800px;
    margin: 0 auto;
}

.header {
    color: white;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-image: url(images/cover03.png);
}

.header img {
    border-radius: 50%;
    border: 5px solid white;
}

.header h1 {
    font-size: 80px;
    font-weight: bold;
}

.header p {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-top: 5px solid;
}

.section {
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.information {
    background-image: url(images/icon-information.png);
}

.skills {
    background-image: url(images/icon-skills.png);
}

.section h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
}

.link {
    display: inline-block;
    padding: 12px 20px;
    border: 5px solid;
    border-radius: 40px;
    color: #aaa;
}

.link.github {
    color: #333;
}

.link.facebook {
    color: lightskyblue;
}

.link.contact {
    color: lightcoral;
}