:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}

/*
	진한 보라색 : #673399
	연한 보라색 : #bd8fe8
	하단 주황색 : oranged, #ff4500
	list-style : custom -> pseudo elements
*/

/* Reset */
h1, h2, h3, p, ul, li{
	margin: 0;
	padding: 0;
}

body {
	background-color: #673399;
}

strong {
	font-weight: inherit;
	line-height: 1;
}

li {
	list-style: none;
}

/* Components */
.wrapper {
	/* background-color: aliceblue; */
	width: 1080px;
	margin: 100px auto;
}

/* Header */
.project-header {
	/* background-color: red; */
	width: inherit;
	height: 135px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
}

.project-title {
	/* background-color: yellow; */
	width: 26%;
	margin-right: 110px;
	font-size: 40px;
	font-weight: 500;
	line-height: 1;
	vertical-align: top;
}

.portfolio::before {
	background-color: #ff4500;
	content: "";
	position: absolute;
	width: 243px;
	height: 20px;
	z-index: -1;
	margin-top: 67px;
	margin-left: -258px;
}

.project-desc {
	background-color: green;
	width: 500px;
	padding: 25px 0;
}

/* Section */
.project-contents {
	background-color: white;
	width: inherit;
	height: 165px;
	display: flex;
	flex-direction: row;
	margin-bottom: 24px;
}
.project-contents:nth-child(2n+1) {
	background-color: white;
	width: inherit;
	height: 165px;
	display: flex;
	flex-direction: row-reverse;
}

.contents-header {
	width: 26%;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.contents-title {
	font-size: 30px;
	font-weight: 500;
	color: white;
	margin: 64px 0;
}

.photo-1 {
	background-image: url(images/photo01.png);
}
.photo-2 {
	background-image: url(images/photo02.png);
}
.photo-3 {
	background-image: url(images/photo03.png);
}

.contents {
	background-color: red;
	padding: 22px;
}
.contents:nth-child(2n) {
	background-color: red;
	margin-right: 25px;
}


.contents-subtitle {
	background-color: blue;
	font-size: 18px;
	color:#673399;
	vertical-align: baseline;
	margin-bottom: 26px;
	padding-left: 3px;
}

.contents-list {
	background-color: green;
}

.contents-list li {
	background-color: yellow;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 15px;
	vertical-align: middle;
}

.contents-list li::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #bd8fe8;
	margin-inline-start: 3px;
	margin-inline-end: 10px;
}