:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}

body {
	background-color: #51318b;
}

h1, h2, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.wrapper {
	width: 1080px;
	margin: 100px auto;
	background-color: white;
}

